@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-image: url("img/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    user-select: none;
}

.region-logo {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 24px;
    color: #FFE500;
    text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
}

.pokemon-logo {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 36px;
    text-align: center;
    margin-top: 20px;
    color: white;
    text-shadow: 20px 20px 20px black;
}

#progress-bar {
    position: relative;
    width: 100%;
    height: 25px;
    background-color: #9bbbf3;
    border-radius: 9999px;
    margin-bottom: 4px;
    overflow: hidden;
}

#progress-bar-inner {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #0080ff;
    border-radius: 9999px;
    transition: width 0.3s ease;
}



